@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&family=Poppins:wght@300;400&display=swap');
:root {
  --primary: #80bc00;
  --dark-primary: rgba(178, 235, 79, 0.514);
  --light-primary: rgb(59, 60, 57);
  --text: #FFFFFF;
  --primary-text: #212121;
  --secondary-text: #757575;
  --accent: #80bc00;
  --image-border: 20px;
}

section {
  padding: 0 150px;
}

html, body {
  overflow-x: hidden;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Be Vietnam Pro';
  font-size: 1rem;
  font-weight: 400;
  background-color: #ffffff;
}

h1 {
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 400;
  text-align: center;
  margin: 30px;
}

h2 {
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
  margin: 0;
}

hr {
  margin: 30px 0;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  font-size: 2rem;
}

.timeline {
  position: relative;
}

.timeline::before {
  content: '';
  margin: 0;
  background: var(--secondary-text);
  width: 1px;
  height: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.timeline-item {
  width: 100%;
  margin-bottom: 70px;
}

.timeline-item:nth-child(6) {
  margin-bottom: 0;
}

.timeline-item {
  width: 100%;
  margin-bottom: 70px;
}

.timeline-item:nth-child(even) .timeline-content {
  float: right;
  padding: 40px 30px 10px 30px;
}

.timeline-item:nth-child(even) .timeline-content::after {
  top: 30px;
  left: -15px;
}

.timeline-item::after {
  content: '';
  display: block;
  clear: both;
}

.timeline-content {
  position: relative;
  width: 45%;
  background: #ffffff;
  border: var(--secondary-text) solid 1px;
}

.timeline-img {
  width: 32px;
  height: 32px;
  background: var(--primary);
  border-radius: 50%;
  position: absolute;
  left: 50%;
  margin-top: 25px;
  margin-left: -15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.timeline-card {
  padding: 0!important;
}

.timeline-card p {
  padding: 0 20px;
}

.timeline-img-header {
  height: 50px;
  position: relative;
}

.timeline-img-header h2 {
  color: var(--primary);
  position: absolute;
  bottom: 5px;
  left: 20px;
  font-weight: 400;
}

blockquote {
  margin-top: 30px;
  color: var(--secondary-text);
  border-left-color: var(--primary);
  padding: 0 20px;
}

.date {
  color: var(--primary);
  padding: 0 20px 10px 20px;
}

@media screen and (max-width: 1200px) {
  section {
    padding: 0 50px;
  }
}

@media screen and (max-width: 700px) {
  .timeline::before {
    left: 50px;
  }

  .timeline-img {
    left: 50px;
  }

  .timeline-content {
    max-width: 100%;
    width: auto;
    margin-left: 70px;
  }

  .timeline-item:nth-child(even) .timeline-content {
    float: none;
  }

  .timeline-item:nth-child(odd) .timeline-content::after {
    content: '';
    position: absolute;
    border-style: solid;
    width: 0;
    height: 0;
    top: 30px;
    left: -15px;
    border-width: 10px 15px 10px 0;
    border-color: transparent #ffffff transparent transparent;
  }
  section {
    padding: 0 20px;
  }
  .product, .product-details{
    flex-direction: column;
    max-height: none !important;
  }
  .description {
    width: calc(100% - 40px) !important;
    align-items: center !important;
  }
  .details {
    width: calc(100% - 40px) !important;
  }
  .product img, .product-details img {
    align-self: center;
    max-width: 100% !important;
  }
}

.product {
  display: flex;
  margin: 30px 0;
  max-height: 500px;
  justify-content: right;
}

.product img, .product-details img {
  max-width: 50%;
}

.product img {
  max-height: 500px;
}

.product-images {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 400px;
}

.description {
  padding: var(--image-border);
  width: calc(50% - 40px);
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.product-details {
  display: flex;
  text-align: justify;
  border-bottom: solid 1px black;
  border-top: solid 1px black;
  margin: 30px 0;
  max-height: 500px;
}

.details {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 50%;
  justify-content: center;
}

.timeline-header {
  display: flex;
  flex-direction: column;
  padding: 30px 20px;
  justify-content: center;
  text-align: justify;
}